@import '../vars';

.shell {
  background-color: #000;
  $gradient-stops: $bg-gradient-start 0%, $bg-gradient-mid 50%, $bg-gradient-end 100%;
  $gradient-angle: 15deg;

  :root[dir='ltr'] & {
    background-image: linear-gradient(#{180deg - $gradient-angle}, #{$gradient-stops});
  }

  :root[dir='rtl'] & {
    background-image: linear-gradient(#{180deg + $gradient-angle}, #{$gradient-stops});
  }
}

.shell-contents > * {
  max-width: 1076px;
  margin-left: auto;
  margin-right: auto;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}
