.spacer {
  padding: 0.5rem;
}

.change-language {
  margin-bottom: 0.5rem;
}

.language-selector {
  display: flex;
  flex-flow: column nowrap;
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: auto;

  .item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    &:disabled > * {
      opacity: 0.5;
    }
  }

  .native-name {
    line-height: 1rem;
    padding-top: 0.1rem;
    margin: 0 0.5rem;
  }
}
