.language-selector {
  .item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  .current::after {
    content: attr(data-current);
    color: green;
    font-size: 0.7em;
    margin-left: 5px;
    font-weight: 700;
    text-transform: uppercase;
  }
}
