.language-selector {
  display: inline-block;

  .current-lang-name {
    margin: 0 0.5rem;
  }

  .item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  .native-name {
    line-height: 1rem;
    padding-top: 0.1rem;
    margin: 0 0.5rem;
  }
}
