$full-revolution-time: 5s;

.indicator {
  fill-rule: evenodd;
  clip-rule: evenodd;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 1.5;

  .minute,
  .hour {
    fill: currentColor;
    transform-origin: 32px 32px;
    animation-name: rotate-hand;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  .hour {
    animation-duration: $full-revolution-time;
  }

  .minute {
    animation-duration: calc($full-revolution-time / 12);
  }

  .base {
    opacity: 0.8;
  }

  .face,
  .ticking {
    fill: none;
    stroke: currentColor;
  }

  .face {
    stroke-width: 6px;
  }

  .ticking {
    stroke-width: 5px;
  }
}

@keyframes rotate-hand {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
