@import '../vars';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/variables';

:root[dir='rtl'] .table {
  th,
  td {
    text-align: right;
  }
}

.icon-column {
  width: 3rem;
}

.syntax-column {
  @include media-breakpoint-up(md) {
    width: 16rem;
  }

  .code-text {
    border: $code-border;
    background-color: $code-bg;
    user-select: all;
  }
}

// For parity, remove after Mantine redesign
.table tbody tr:last-child > * {
  border-bottom-width: 0 !important;
}
