@import '../vars';

$large-input-threshold: 768px;

.timestamp-picker {
  position: relative;
  z-index: 3;
  margin-bottom: 1rem;

  input[disabled] {
    pointer-events: none;
  }

  .datetime-picker-wrap {
    position: relative;

    &.combined-input-wrap {
      flex-basis: 100%;

      @media (min-width: $large-input-threshold) {
        flex-basis: 50%;
      }

      .combined-input {
        flex-basis: 100%;
        flex-grow: 1;
      }
    }

    .input-selector-wrap {
      position: absolute;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 1.75rem;

      :root[dir='ltr'] & {
        right: 0;
      }

      :root[dir='rtl'] & {
        left: 0;
      }
    }
  }

  :global {
    .mantine-InputWrapper-label {
      display: block;
    }

    .mantine-AmPmInput-amPmInput {
      width: 3em !important;
      text-align: center;
    }
  }
}
