@import '../vars';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/variables';

$rdt-background: #111;
$rdt-cell-background: $input-bg;
$rdt-border: invert(#f9f9f9);
$rdt-active: $discord;
$rdt-disabled-color: invert(#999999);

.datepicker {
  :global {
    // react-datetime
    .rdtPicker {
      background: $rdt-background;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
      border: 1px solid $rdt-border;
    }

    .rdtPicker .rdtSwitch {
      cursor: pointer !important;
    }

    .rdtPicker td.rdtDay:hover,
    .rdtPicker td.rdtHour:hover,
    .rdtPicker td.rdtMinute:hover,
    .rdtPicker td.rdtSecond:hover,
    .rdtPicker .rdtSwitch:hover,
    .rdtPicker .rdtTimeToggle:hover {
      background: $rdt-cell-background;
    }

    .rdtPicker td.rdtOld,
    .rdtPicker td.rdtNew {
      color: $rdt-disabled-color;
    }

    .rdtPicker td.rdtToday:before {
      border-left: 7px solid transparent;
      border-bottom: 7px solid $rdt-active;
      border-top-color: rgba(0, 0, 0, 0.2);
    }

    .rdtPicker td.rdtActive,
    .rdtPicker td.rdtActive:hover {
      background-color: $rdt-active;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    }

    .rdtPicker td.rdtActive.rdtToday:before {
      border-bottom-color: #fff;
    }

    .rdtPicker td.rdtDisabled,
    .rdtPicker td.rdtDisabled:hover {
      color: $rdt-disabled-color;
    }

    .rdtPicker td span.rdtOld {
      color: $rdt-disabled-color;
    }

    .rdtPicker td span.rdtDisabled,
    .rdtPicker td span.rdtDisabled:hover {
      color: $rdt-disabled-color;
    }

    .rdtPicker th {
      border-bottom: 1px solid $rdt-border;
    }

    .rdtPicker th.rdtDisabled,
    .rdtPicker th.rdtDisabled:hover {
      color: $rdt-disabled-color;
    }

    .rdtPicker thead tr:first-of-type th:hover {
      background: $rdt-cell-background;
    }

    .rdtPicker tfoot {
      border-top: 1px solid $rdt-border;
    }

    .rdtPicker button:hover {
      background-color: $rdt-cell-background;
    }

    td.rdtMonth:hover,
    td.rdtYear:hover {
      background: $rdt-cell-background;
    }

    .rdtCounter .rdtBtn:hover {
      background: $rdt-cell-background;
    }
  }

  margin-bottom: 1rem;

  .form-label {
    width: 100%;
  }
}

:root[dir='rtl'] {
  .datepicker .form-label {
    text-align: right;
  }
}
