@import '../vars';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/variables';

:root[dir='rtl'] .table {
  th,
  td {
    text-align: right;
  }
}

.syntax-column {
  @include media-breakpoint-up(md) {
    width: 15rem;
  }
}

.copy-button {
  :root:not([dir='rtl']) {
    margin-right: 0.5rem;
  }

  :root[dir='rtl'] & {
    margin-left: 0.5rem;
  }
}
