.translator {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5em;
  margin: 0.5em 0;

  .translator-item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    text-transform: none;

    .translator-avatar {
      display: inline-block;
      margin-right: 0.5em;

      img {
        background-color: #fff;
      }
    }
  }
}
