@import '../vars';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/variables';

.lead-text {
  text-align: center;
  margin-bottom: 0.25rem;
}

.links {
  justify-content: center;
  align-items: stretch;
  text-align: center;

  .link {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    figure {
      margin-bottom: 0;
    }

    a {
      border: 1px solid;
      border-radius: 0.4rem;
      display: flex;
      height: 100%;
      padding: 0.5rem;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: $body-color;

      @include media-breakpoint-up(md) {
        max-width: 280px;
      }

      .link-name {
        margin-bottom: 0.5rem;

        header {
          font-weight: bold;
          text-decoration: underline;
        }
      }
    }
  }
}
