@import '../vars';

.lead-text {
  text-align: center;
  margin-bottom: 0.25rem;
}

.link {
  flex: 1 1 auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

  a {
    border-radius: 0.4rem;
    display: flex;
    height: 100%;
    flex-flow: column nowrap;
    justify-content: center;
    text-decoration: none !important;
    max-width: 175px;
    margin: 0 auto;

    @media (min-width: 576px) {
      max-width: 225px;
    }

    @media (min-width: 768px) {
      max-width: 280px;
    }

    .card-top-half {
      flex: 0 0 auto;
      position: relative;
      height: 0;
      padding-top: 61.58%;

      &,
      * {
        border-radius: inherit;
      }
    }

    .card-bottom-half {
      flex: 1 1 auto;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
    }

    .link-name {
      margin-bottom: 0.5rem;
      font-weight: bold;
      text-decoration: underline;
      text-align: center;
    }

    .link-desc {
      text-align: center;
    }
  }
}
