@use "../variables" as v;
@use "../functions" as f;

$footer-separator-size: f.rem(1px);

.layout {
  background: v.$body-bg;
}

.main {
  max-width: 1076px;
  margin-left: auto;
  margin-right: auto;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  $gradient-stops: v.$bg-gradient-start 0%, v.$bg-gradient-mid 50%, v.$bg-gradient-end 100%;
  $gradient-angle: 15deg;

  :root[dir='ltr'] & {
    background-image: linear-gradient(#{180deg - $gradient-angle}, #{$gradient-stops});
  }

  :root[dir='rtl'] & {
    background-image: linear-gradient(#{180deg + $gradient-angle}, #{$gradient-stops});
  }
}


.footer {
  bottom: 0;
  padding: 0.75rem;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  font-size: 0;
  flex-flow: row wrap;

  .footer-item {
    font-size: 1rem;
    display: block;
  }

  .footer-separator {
    display: inline-block;
    width: $footer-separator-size;
    height: 1.5rem;
    border-right: $footer-separator-size solid rgba(gray, 0.5);
    margin: 0 0.5rem;
  }

  @media (max-width: 767px) {
    flex-flow: column nowrap;

    .footer-item:not(:last-child) {
      margin-bottom: f.rem(5px);
    }

    .footer-separator {
      display: none;
    }
  }
}
