$font-family-base: 'Montserrat', sans-serif;
$font-family-monospace: 'Source Code Pro', 'Consolas', monospace;

$discord: #5865f2;
$bg-gradient-start: rgba(88, 94, 242, 0.5);
$bg-gradient-mid: rgba($discord, 0.5);
$bg-gradient-end: rgba(165, 94, 165, 0.5);

$code-color: #c1c2c5;
$code-bg: #373a40;
$code-border: 0;

$link-color: rgb(116, 143, 252);
$body-color: #dcddde;
$body-bg: #1a1b1e;
$card-border-width: 0;
$card-bg: $body-bg;
$card-color: $body-color;
$btn-close-color: $body-color;

$input-bg: $code-bg;
$input-disabled-bg: darken($code-bg, 3%);
$input-border-color: $input-bg;
$input-color: $body-color;
$input-group-addon-bg: $input-bg;
$input-group-addon-border-color: $input-group-addon-bg;

$custom-colors: (
  discord: $discord,
  body: $body-bg,
);
