@import 'scss/functions';
@import 'scss/bootstrap';
@import '~@fortawesome/fontawesome-svg-core/styles.css';

:root {
  color-scheme: dark;

  &[dir='rtl'] {
    .input-group > {
      .btn,
      .input-group-text {
        &:first-child {
          border-radius: 0 $input-border-radius $input-border-radius 0;
        }
      }
    }

    .input-group > {
      .form-control,
      .input-group-text {
        &:last-child {
          border-radius: $input-border-radius 0 0 $input-border-radius;
        }
      }
    }

    .me-2 {
      margin-right: 0 !important;
      margin-left: 0.5rem !important;
    }
  }
}

* {
  outline: none;
}

html {
  background-color: $body-bg;
  font-size: 100%;
  min-height: 100vh;
}

.table td {
  vertical-align: middle;
}

// Hide date and time picker icons in Chrome
input::-webkit-calendar-picker-indicator {
  display: none;
}
