@import 'scss/vars';
@import 'scss/functions';
@import 'scss/fonts';
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-svg-core/styles.css';

:root {
  color-scheme: dark;
}

:root[dir='rtl'] {
  .input-group > .input-group-prepend > .btn {
    border-radius: 0 $input-border-radius $input-border-radius 0;
  }

  .input-group > .input-group-append > .input-group-text {
    border-radius: $input-border-radius 0 0 $input-border-radius;
  }
}

* {
  outline: none;
}

html {
  background-color: $dark;
  font-size: 100%;
  min-height: 100vh;
}

.table td {
  vertical-align: middle;
}
