$font-family-base: 'Montserrat', sans-serif;
$font-family-monospace: 'Source Code Pro', 'Consolas', monospace;

$discord: #5865f2;

$code-color: #b9bbbe;
$code-bg: #2f3136;
$code-border-color: #202225;
$code-border: 1px solid $code-border-color;

$link-color: hsl(197, 100%, 75%);
$body-color: #dcddde;
$body-bg: #36393f;
$card-border-width: 0;
$card-bg: $body-bg;
$card-color: $body-color;
$close-color: $body-color;

$input-bg: $code-bg;
$input-disabled-bg: darken($code-bg, 3%);
$input-group-addon-bg: darken($code-bg, 8%);
$input-border-color: $code-border-color;
$input-color: $body-color;
$custom-select-indicator-color: $body-color;

$theme-colors: (
  discord: $discord,
);

$rbt-color-primary: $discord;
$rbt-color-disabled: $body-color;
$rbt-color-white: #fff;
$rbt-background-color-disabled: $input-disabled-bg;
$rbt-placeholder-color: $input-color;
